.body{
    width: 100%;
    height: 100%;
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

h2.header__left{
    font-size: 28px;
    font-weight: bold;
    color: rgb(12, 38, 121);
}

.header__right {
    display: inline-block;
    padding: 5px;
}

ul.header__right {
    display: flex;
    justify-content: flex-end;
}

li.header__right-list {
    color: rgb(12, 38, 121);
    font-weight: bold;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.main {
    position: relative;
    top: 400px;
    width: 100%;
    height: 100%;
}

.main__ttl {
    font-size: 40px;
    font-weight: lighter;
}

.main__box {
    background-color: rgb(12, 38, 121);
    width: 75vw;
    height: 160px;
}

.main__img {
    position: absolute;
    right: 0;
    bottom: 80px;
    width: 50vw;
}
